**/node_modules
**/vendor
**/.turbo
**/.expo
**/storage/app/public
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/bootstrap/cache
**/.git
**/.idea
**/.vscode
**/dist
**/build
**/*.log
**/.env
**/.env.local
**/.env.*.local
**/packages/api/tests
**/packages/web/dist
**/packages/mobile/ios
**/packages/mobile/android
**/packages/mobile/.expo
**/coverage
**/.nyc_output
